# --- Конфигурация Postgres ---
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_PASSWORD=accounts
POSTGRES_USER=accounts
POSTGRES_DB=accounts

# --- Конфигурация платежной системы ---
PAYMENT_SYSTEM_SECRET_KEY=gfdmhghif38yrf9ew0jkf32

# --- Конфигурация авторизации ---
# Формат: XhrYmZs (например, 24hr0m0s)
AUTH_EXPIRATION_TIME=24hr0m0s
AUTH_ENCRYPTION_ALGORITHM=HS256
AUTH_SECRET_KEY=your-very-secret-key
