# --- Конфигурация Postgres ---
# Если запускаешь Postgres в Docker, пиши имя сервиса (например, db)
# Если база стоит локально на компе, оставь localhost
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=accounts
POSTGRES_USER=accounts
POSTGRES_DB_NAME=accounts

# --- Конфигурация платежной системы ---
PAYMENT_SYSTEM_SECRET_KEY=gfdmhghif38yrf9ew0jkf32

# --- Конфигурация авторизации ---
# Формат: XhrYmZs (например, 24hr0m0s)
AUTH_EXPIRATION_TIME=24hr0m0s
AUTH_ENCRYPTION_ALGORITHM=HS256
AUTH_SECRET_KEY=your-very-secret-key
